html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#wordup {
  width: 100%;
  text-align: center;
  font-size: 10em;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
